@font-face {
  font-family: Open-Sans_regular;
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf")
    format("ttf");
}

@font-face {
  font-family: Open-Sans_italic;
  src: url("../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
    format("ttf");
}
