* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 595px;
  height: 842px;
  margin: 45px auto;
  border: 2px solid rgb(85, 85, 85);
  display: grid;
  grid-template-columns: calc(595px - 234px) 234px;
  overflow: hidden;
}

.col1 {
  .title-cover {
    display: flex;
    column-gap: 7px;
    height: 24px;
    margin-left: 29px;
    flex-shrink: 0;
    .title_icon {
      display: block;
      width: 24px;
      height: 24px;
    }
    .vertical-line {
      width: 1.92px;
      height: 22.33px;
      content: "";
      background: rgb(96, 96, 96);
      flex-shrink: 0;
    }
    .title {
      color: rgb(96, 96, 96);
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 800;
      line-height: 22px;
      text-align: left;
      margin: 0;
      padding: 0;
      align-items: center;
    }
    .horisontal-line {
      background: rgb(180, 180, 181);
      position: relative;
      margin: auto 0;
      content: "";
      width: 100%;
      margin-right: 35px;
      height: 1px;
    }
  }
  .title-cover:first-child {
    margin-top: 61px;
  }
  .profile-content {
    color: rgb(96, 96, 96);
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: left;
    max-width: 268px;
    margin-left: 59px;
    margin-top: 16px;
  }
  .title-cover {
    margin-top: 28px;
  }
  .experiences {
    display: flex;
  }
  .vertical_line {
    position: absolute;
    content: "";
    width: 1.2px;
    height: 180px;
    margin: 4px 0 4px 0;
    background: rgb(165, 164, 164);
    margin-left: 39px;
    margin-top: 25px;
    flex-shrink: 0;
  }
  .vertical_line-1 {
    position: absolute;
    content: "";
    width: 1.2px;
    height: 120px;
    margin: 4px 0 4px 0;
    background: rgb(165, 164, 164);
    margin-left: 39px;
    margin-top: 25px;
    flex-shrink: 0;
  }

  .experiences-info:first-child {
    display: flex;
    margin-top: 21px;
    margin-left: 35.72px;
    column-gap: 21px;
    height: fit-content;
    max-width: 290px;
  }
  .experiences-info {
    display: flex;
    margin-top: 13px;
    margin-left: 35.72px;
    column-gap: 21px;
    height: fit-content;
    max-width: 290px;
  }
  .dot {
    content: "";
    width: 7.2px;
    height: 7.2px;
    background: rgb(165, 164, 164);
    border-radius: 50%;
    align-items: center;
    flex-shrink: 0;
    margin-left: 1px;
    margin: auto 0;
  }
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .line-1 {
    display: flex;
    justify-content: space-between;
  }
  .field-col1 {
    color: rgb(96, 96, 96);
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
  }
  .field-col2 {
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 600;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: left;
  }
  .line-2 {
    color: rgb(96, 96, 96);
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 2px;
  }
  .under-text {
    display: block;
    color: rgb(96, 96, 96);
    font-family: Open Sans;
    font-size: 9px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
  }
  .trainings-cover {
    display: flex;
    column-gap: 45px;
    max-width: 260px;
    margin-left: 59px;
    margin-top: 13px;
  }
  .reference-cover {
    display: flex;
    column-gap: 34px;
    margin: 16px 0 0 59px;
  }
  .reference-col {
  }
  .reference-title {
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 9.99px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
  }
  .reference-subtitle {
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 9px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
  }
  .reference-contacts {
    color: rgb(51, 51, 51);
    font-family: Open Sans;
    font-size: 8px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0%;
    text-align: left;
  }
}
.col2 {
  background: rgb(85, 85, 85);
  display: flex;
  flex-direction: column;
  max-width: 234px;
  .your-photo {
    display: block;
    width: 138.3px;
    height: 138.3px;
    border-radius: 50%;
    margin: 55px 0 0 42px;
  }
  .your-name {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: center;
  }
  .your-proffession {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
  .small-hr_line {
    content: "";
    width: 116.88px;
    height: 0.96px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
  }
  .address {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
  }
  .address-add {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
  }
  .col2-title {
    overflow: hidden;
    display: flex;
    column-gap: 10px;
    max-width: 168px;
    margin-left: 31px;
  }
  .bold-vertical {
    content: "";
    width: 7.36px;
    height: 22.3px;
    background: rgb(122, 121, 120);
    flex-shrink: 0;
  }
  .col2-title_text {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 15.01px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    white-space: nowrap;
  }
  .hr-title {
    display: block;
    flex-shrink: 0;
    max-width: 100%;
    content: "";
    width: 10vw;
    height: 1.92px;
    background: rgb(122, 121, 120);
    flex-shrink: 0;
    margin: auto auto;
    align-items: flex-end;
  }
  .contacts-cover {
    row-gap: 4px;

    margin-left: 48px;
  }
  .contact-cover {
    display: flex;
    column-gap: 9px;
  }
  .contact-logo {
    flex-shrink: 0;
  }
  .contact-link {
    color: rgb(255, 255, 255);
    font-family: Open Sans;
    font-size: 9px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0%;
    text-align: left;
  }
  .skills-cover {
  }
  .skill-cover {
  }
  .skill-text {
  }
  .skill-level {
  }
  .hobbies-cover {
  }
  .hobby-cover {
  }
  .hobby-logo {
  }
  .hobby-name {
  }
}
